[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "cwds"]
	path = ./cwds
	url = https://github.com/CarloWood/cwds
[submodules "cwm4"]
	path = ./cwm4
	url = https://github.com/CarloWood/cwm4
